/* Mobile < 740px */
@media (max-width: 46.24375em) {
    #header {
        height: 36px;

        .logo {
            img {
                width: 68px;
            }
        }

        nav.nav  {
            margin: 0;

            a {
                font-size: 8px;
                padding: 0 15px;
            }
        }
    }

    #content {
        margin-top: 36px;
    }

    #landing {
        .head-text {
            margin: 40px auto 12px;
            width: 100%;

            h1 {
                font-size: 32px;
            }
            p {
                font-size: 11px;
            }
            .btns-gr {
                .btn-item {
                    padding: 8px 20px;
                    font-size: 11px;
                    background-color: rgba(109, 43, 161, 0.35);
                }
            }
        }

        #partners-slider {
            margin-top: 24px;
    
            .slider-item {
                .item-body {
                    h3 {
                        font-size: 16px;
                    }
                }
            }
        }

        .services {
            padding: 36px 0;

            .lrnmore-box {
                display: flex;
                justify-content: center;

                .lrnmore {
                    display: inline-block;
                    text-decoration: none;
                    color: var(--base-white);
                    border: 1px solid var(--base-white);
                    border-radius: 99px;
                    background-color: var(--base-black);
                    font-size: 12px;
                    padding: 8px 16px;
                    margin-top: 44px;
                    margin-bottom: 0;
                
                    i {
                        margin-left: 12px;
                    }
                }
            }

            .checked-box {
                margin-top: 0;

                .item {
                    font-size: 9px;
                }
            }

            .serv-content {
                margin-left: 0;

                h2 {
                    font-size: 24px;
                    text-align: center;
                }
                p {
                    font-size: 12px;
                    margin-top: 12px;
                    text-align: center;
                }
                a {
                    font-size: 16px;
                    padding: 12px 24px;
                }
            }
        }
    }
    #features {
        padding: 28px 0 120px;

        #features-container {
            padding: 0 .75rem;
        }

        .heading-box {
            justify-content: center;

            h1.heading {
                font-size: 32px;
                text-align: center;
            }
    
            a {
                font-size: 12px;
            }
        }
        .slider-content-box {

            #features-slider {

                .slick-list {
                    padding: 0!important;
                }
                .slick-dots {
                    padding: 10px 20px;
    
                    li {
                        button {
                            width: 5px;
                            height: 5px;
                        }
                    }
                }
                .slider-item {
                    .left-content {
                        padding: 22px;
                        width: 100%;

                        h1.title {
                            font-size: 24px;
                            text-align: center;
                        }
                        p.description {
                            font-size: 12px;
                            margin-top: 14px;
                        }
                    }
                }
            }
        }
    }
    #product-highlights {
        padding: 38px 0 66px;

        h1.heading {
            font-size: 40px;
        }

        .content-box {
            margin-top: 64px;

            .custom-tabs {
                .custom-nav-item {
                    button {
                        .spr {
                            height: 3px;
                        }
                        h3 {
                            span {
                                font-size: 24px;
                            }
                        }
    
                        p {
                            font-size: 24px;
                        }
                    }
                }
            }

            .tab-content {
                margin-top: 32px;

                .lc {
                    margin: 0 auto;
                    width: 274px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    h1 {
                        font-size: 24px;
                        text-align: center;
                        margin-bottom: 18px;
                    }
                    p {
                        font-size: 12px;
                        text-align: center;
                        margin-bottom: 18px;
                    }
                    button {
                        margin-top: 0;
                        font-size: 14px;
                        padding: 12px 32px;
                    }
                }
                .rc {
                    height: 240px;
                    border-radius: 12px;

                    .inner-content {
                        bottom: 30px;
                        left: 36px;
                        margin-right: 110px;

                        h2 {
                            font-size: 22px;
                        }
                        p {
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
    #benefits {
        padding: 60px 0;
    
        h1.heading {
            text-align: center;
    
            span {
                font-size: 40px;
            }
        }
        
        .bnf-cont {
    
            .clp-item {
                margin-top: 24px;
                padding-bottom: 24px;
                
                .clp-title {
                    font-size: 16px;
    
                    img {
                        width: 20px;
                    }
                }
    
                .clp-cont {
                    font-size: 12px;
                    margin-left: 30px;
                }
            }
        }
    }
    #tech-roadmap {
        padding: 28px 24px;

        h1.heading {
            font-size: 32px;

            div {
                display: inline;
            }
        }
    
        .timeline-wrapper {
            ul {
                padding-left: 40px;
    
                li {
                    &::after {
                        left: -46px;
                        width: 12px;
                        height: 12px;
                    }
    
                    &::before {
                        left: -41px;
                        width: 42px;
                    }
                }
            }
        }
    }
    #partners {
        padding: 40px 0 80px;

        h1.heading {
            font-size: 32px;
        }

        .cont {
            margin-top: 20px;
            padding: 0;
        }
    }
    #testimonials {
        padding: 32px 0 64px;
    
        h1.heading {
            font-size: 32px;
        }
    
        .cont {
            margin-top: 24px;
            padding: 0;

            .btn-box {
                button {
                    font-size: 14px;
                    padding: 10px 24px;
                }
            }
        }
    }
    #checkout {
        padding: 60px 0;
    
        h1.heading {
            font-size: 32px;
        }
    
        .btns {
            margin-top: 24px;
    
            .btn-item {
                font-size: 14px;
                padding: 10px 24px;
                margin: 0 12px;
            }
        }
    }
    
    footer#footer {
        .lc {
            img {
                height: 28px;
            }
            nav {
                padding-left: 8px;
                a {
                    padding-left: 0;
                    margin-right: 12px;
                    font-size: 10px;
                }
            }
        }
    
        .rc {
            a {
                height: 32px;
                width: 32px;
    
                &:not(:first-child) {
                    margin-left: 20px;
                }
    
                i {
                    font-size: 24px;
                }
            }
        }
    }
}

/* Tablet width >=740px and width < 1024px */
@media (min-width: 46.25em) and (max-width: 64em) {
    #header {
        height: 38px;

        .logo {
            img {
                width: 80px;
            }
        }

        nav.nav  {
            margin: 0 -20px;

            a {
                font-size: 12px;
                padding: 0 20px;
            }
        }
    }

    #content {
        margin-top: 38px;
    }

    #landing {
        .head-text {
            margin: 80px auto 100px;
            width: 530px;

            h1 {
                font-size: 40px;
            }
            p {
                font-size: 14px;
            }
            .btns-gr {
                .btn-item {
                    padding: 8px 20px;
                    font-size: 14px;
                }
            }
        }

        #partners-slider {
            margin-top: 24px;
    
            .slider-item {
                .item-body {
                    h3 {
                        font-size: 16px;
                    }
                }
            }
        }

        .services {
            .checked-box {
                .item {
                    font-size: 12px;
                }
            }
            .serv-content {
                h2 {
                    font-size: 32px;
                }
                p {
                    font-size: 16px;
                }
                a {
                    font-size: 16px;
                    padding: 12px 24px;
                }
            }
        }
    }
    #features {
        .heading-box {
            h1.heading {
                font-size: 32px;
            }
    
            a {
                font-size: 12px;
            }
        }
        .slider-content-box {
            #features-slider {
                .slick-dots {
                    padding: 10px 20px;
    
                    li {
                        button {
                            width: 5px;
                            height: 5px;
                        }
                    }
                }
                .slider-item {
                    .left-content {
                        padding: 66px 36px 20px 60px;
                        h1.title {
                            font-size: 32px;
                        }
                        p.description {
                            font-size: 16px;
                            margin-top: 32px;
                        }
                    }
                }
            }
        }
    }
    #product-highlights {
        padding: 38px 0 66px;

        h1.heading {
            font-size: 40px;
        }

        .content-box {
            margin-top: 64px;

            .custom-tabs {
                .custom-nav-item {
                    button {
                        .spr {
                            height: 3px;
                        }
                        h3 {
                            span {
                                font-size: 24px;
                            }
                        }
    
                        p {
                            font-size: 24px;
                        }
                    }
                }
            }

            .tab-content {
                .lc {
                    h1 {
                        font-size: 24px;
                    }
                    p {
                        font-size: 12px;
                    }
                    button {
                        font-size: 14px;
                        padding: 12px 32px;
                    }
                }
                .rc {
                    height: 240px;

                    .inner-content {
                        bottom: 30px;
                        left: 36px;
                        margin-right: 110px;

                        h2 {
                            font-size: 22px;
                        }
                        p {
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
    #benefits {
        padding: 60px 0;
    
        h1.heading {
            text-align: center;
    
            span {
                font-size: 40px;
            }
        }
        
        .bnf-cont {
    
            .clp-item {
                margin-top: 24px;
                padding-bottom: 24px;
                
                .clp-title {
                    font-size: 16px;
    
                    img {
                        width: 20px;
                    }
                }
    
                .clp-cont {
                    font-size: 12px;
                    margin-left: 30px;
                }
            }
        }
    }
    #tech-roadmap {
        h1.heading {
            font-size: 40px;
        }
    
        .timeline-wrapper {
            ul {
                border-left: 1px solid var(--base-white);
                margin: 0;
                padding-left: 92px;
    
                li {
                    position: relative;
                    width: 100%;
                    background-color: #881443;
                    border-radius: 30px;
                    margin-bottom: 75px;
    
                    &::after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: -102px;
                        width: 18px;
                        height: 18px;
                        border-radius: 50%;
                        background-color: #F23581;
                    }
    
                    &::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: -102px;
                        width: 101px;
                        height: 1px;
                        border-radius: 50%;
                        background-color: var(--base-white);
                    }
                }
            }
        }
    }
    #partners {
        padding: 40px 0 80px;

        h1.heading {
            font-size: 40px;
        }
    }
    #testimonials {
        padding: 40px 0 50px;
    
        h1.heading {
            font-size: 40px;
        }
    
        .cont {
            margin-top: 50px;

            .btn-box {
                button {
                    font-size: 14px;
                    padding: 10px 24px;
                }
            }
        }
    }
    #checkout {
        padding: 60px 0;
    
        h1.heading {
            font-size: 40px;
        }
    
        .btns {
            margin-top: 48px;
    
            .btn-item {
                font-size: 14px;
                padding: 10px 24px;
                margin: 0 24px;
            }
        }
    }
    
    footer#footer {
        .lc {
            img {
                height: 28px;
            }
            nav {
                padding-left: 8px;
                a {
                    padding-left: 0;
                    margin-right: 12px;
                    font-size: 10px;
                }
            }
        }
    
        .rc {
            a {
                height: 32px;
                width: 32px;
    
                &:not(:first-child) {
                    margin-left: 20px;
                }
    
                i {
                    font-size: 24px;
                }
            }
        }
    }
}

/* PC width >= 1024px */
@media (min-width: 64em) {
    
}